<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <script src="./node_modules/jquery/dist/jquery.min.js"> </script>
    <script>
      $(document).ready(function() {
        alert('jQuery is up and running!');
      });
     </script>

     <div class = "PageTitle">
       <header>
         <% include ../partials/header %>
       </header>
    </div>

     <div class = "TaskDetails">
       <% for (var i = 0; i < length; i++){ %>
         <p> Task - <%= i+1 %>
         <br> Task: <%= JSON.parse(tasks[i]).Task   %> </br>
         Priority: <%= JSON.parse(tasks[i]).Priority   %>
         <br> Status: <%= JSON.parse(tasks[i]).Status   %></br> </p>
       <% } %>
     </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
